RAILS_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=minhas_financas_development
DB_TEST_NAME=minhas_financas_test
REDIS_URL=redis://127.0.0.1:6379/0
