RAILS_ENV=production
APP_HOST=financas.jonhnes.com.br
FRONTEND_ORIGIN=https://financas.jonhnes.com.br

PORT=3000
RAILS_MAX_THREADS=5
SIDEKIQ_CONCURRENCY=5
RAILS_LOG_LEVEL=info
SECRET_KEY_BASE=troque-por-um-valor-seguro
RAILS_MASTER_KEY=cole-sua-master-key-aqui

DB_HOST=db
DB_PORT=5432
POSTGRES_DB=minhas_financas_production
POSTGRES_USER=minhas_financas
POSTGRES_PASSWORD=troque-por-uma-senha-segura
REDIS_URL=redis://redis:6379/0
