{$APP_HOST} {
	encode zstd gzip

	root * /srv/frontend

	header /assets/* Cache-Control "public, max-age=31536000, immutable"

	route {
		handle /api/* {
			reverse_proxy web:3000
		}

		handle /up {
			reverse_proxy web:3000
		}

		handle /rails/* {
			reverse_proxy web:3000
		}

		handle {
			try_files {path} /index.html
			file_server
		}
	}
}
